<%# app/views/kaminari/_paginator.html.erb %>
<%= paginator.render do %>
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-center mb-0">
      <%= paginator.first_page_tag unless current_page.first? %>
      <%= paginator.prev_page_tag  unless current_page.first? %>

      <% paginator.each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= paginator.page_tag page %>
        <% elsif page.gap? %>
          <%= paginator.gap_tag %>
        <% end %>
      <% end %>

      <%= paginator.next_page_tag unless current_page.last? %>
      <%= paginator.last_page_tag unless current_page.last? %>
    </ul>
  </nav>
<% end %>
